@model WebApp.Models.ProductoModel

@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("Index", "Carro", FormMethod.Post, htmlAttributes: new { id = "form-carro" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.Hidden("CodigoProducto", "", htmlAttributes: new { @class = "codigoProducto" })


                    <p class="descripcion-body"></p>

                    @Html.TextBox("Cantidad", "", htmlAttributes: new { @class = "Cantidad", type = "number", min = "1" })
                }

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary  btnAgregarCarro">Agregar</button>
            </div>
        </div>

    </div>
</div>



<!-- Modelo -->

<div class="content-wrapper">

    @if (ViewBag.Mensaje != null)
    {
        <script>
            (function alert() {

                Swal.fire({
                    title: '@ViewBag.Mensaje @User.Identity.Name!',
                    timer: 1500
                })
            })();

        </script>
    }


    <section class="content-header">
        <h1>
            Usuario
            <small>Catalogo</small>
        </h1>
        <ol class="breadcrumb"></ol>
    </section>

    <section class="content">

        <div class="row">

            @foreach (var item in Model.ListaDeProductos)
            {
                <div class="col-md-3">
                    <div class="box box-solid box-primary ">


                        <div class="box-header with-border">
                            <h1 class="box-title">@item.Nombre</h1>


                        </div>
                        <div class="box-body">
                            @if (item.UrlImange != null)
                            {
                                <img src="@item.UrlImange" style="max-width:100%" />
                            }
                         
                            <p class="info-box-text text-center">$ @item.PrecioUnitario.ToString("#,#.00")</p>

                            <p class="">@item.Descripcion</p>
                        </div>
                        <div class="box-footer">
                            <button class="btn btn-primary btn-block btnCarro" data-producto-codigo="@item.Codigo" data-producto-descripcion="@item.Descripcion" data-producto-nombre="@item.Nombre">Agregar a Carrito</button>
                        </div>
                    </div>
                </div>
            }

        </div>

    </section>

</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


