@model WebApp.Models.UsuarioModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/plugins/iCheck/square/blue.css">
    <link rel="stylesheet" href="~/Content/css/Login.css">

    <title>Modificar Password</title>
</head>

<body class="hold-transition login-page">
    <div class="login-box">

        <div class="login-logo">
            <h1 class="text-center">Seguridad</h1>
        </div>


        <div class="login-box-body box-info bordes">

            <p class="login-box-msg">Complete la solicitud y Modifique contraseña</p>

            @if (ViewBag.msjError != null)
            {
                <script>
                    (function alert() {
                        Swal.fire({
                            type: 'error',
                            title: 'Error...',
                            text: '@ViewBag.msjError!',
                            footer: '<a href>Why do I have this issue?</a>'
                        })
                    })();

                </script>
            }


                @using (Html.BeginForm("ModificarPassword", "Login", FormMethod.Post))
            {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(Model => Model.Usuario)


                    <div class="form-group has-feedback">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control bordes", placeholder = "Actual Contraseña" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.EditorFor(model => model.PasswordNueva, new { htmlAttributes = new { @class = "form-control bordes", placeholder = "Nueva Contraseña" } })
                        @Html.ValidationMessageFor(model => model.PasswordNueva, "", new { @class = "text-danger" })
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.EditorFor(model => model.PasswordConfirmada, new { htmlAttributes = new { @class = "form-control bordes", placeholder = "Confirmar Contraseña" } })
                        @Html.ValidationMessageFor(model => model.PasswordConfirmada, "", new { @class = "text-danger" })
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <input type="submit" value="Modificar" class="btn btn-primary btn-block bordes" />
                    </div>

                    <div class="form-group has-feedback">
                        <p>
                            @Html.ActionLink("Login", "Registro", null, new { @class = "btn btn-primary btn-block bordes" })
                        </p>
                    </div>

            }

                <script src="~/Content/plugins/jQuery/jquery-2.2.3.min.js"></script>
            <!-- Bootstrap 3.3.6 -->
                <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
            <!-- iCheck -->
                <script src="~/Content/plugins/iCheck/icheck.min.js"></script>

                <script>
                $(function () {
                    $('input').iCheck({
                        checkboxClass: 'icheckbox_square-blue',
                        radioClass: 'iradio_square-blue',
                        increaseArea: '20%' // optional
                    });
                });
                </script>

            </div>
        </div>

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }

            </body>
        </html>
